.profile-user-big{
  float:left;
  display:block;
  width:185px;
  margin:10px;
}
  .profile-user-big img{
    width:180px;
    height:180px;
    padding:1px;
  }

.playlist-preview{
  clear:both;
  min-height: 210px;
  margin-bottom:20px;
}
  .playlist-preview .playlist-preview-img{
    float: left;
    margin-right:20px;
  }
  .playlist-preview .playlist-content{
    margin-left: 174px;
  }

#feedContent {
  float: right;
  width: 199px;
  height: 100%;
  overflow: scroll;
  border-left: 1px solid #ddd;
  background-color: #f5f5f5;
}

  #feedContent h5{
    text-align:center;
  }

    #feedContent .feed{
      padding:10px;
      border-top:1px solid #ccc;
    }

    #feedContent .feed .img-container {
      width:25px;
      height:25px;
      float:left;
      overflow:hidden;
    }

      #feedContent .feed .img-container img {
        height:25px;
        max-width:none;
      }

    #feedContent .feed .feed-description-title{
      white-space: nowrap;
      text-overflow: ellipsis;
      width:149px;
      overflow:hidden;
      line-height:15px;
      margin-left:30px;
    }

    #feedContent .feed .feed-description-origin{
      line-height:12px;
      font-size:12px;
      margin-left:30px;
    }
