body {
  padding-top: 71px;
  padding-bottom: 0;
}
.sidebar-nav {
  padding: 9px 0;
}
.navbar{
}
.navbar .nav > li > a {
  line-height: 50px;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret{
  margin-top:25px;
}
.header-profile-picture{
  height:30px;
}
.navbar .brand{
  padding-left:120px;
  line-height:50px;
  background:url(/img/logo.png) no-repeat 20px center;
}
.navbar .divider-vertical {
  height:70px;
}
#progress-play {
  width: 200px;
  margin: 32px 20px;
  height:6px;
  cursor:pointer;
}
#progress-play .bar{
  background:#5c948d;
}
.container-fluid.no-padding-left {
  padding: 0;
}
#login-buttons-image-facebook{
  margin-top:-2px;
}
#login-buttons-facebook{
  background-color: #3b5998 !important;
  background-image: none !important;
}
footer.navbar{
  margin-bottom:0;
  border-bottom:none;
  border-left:none;
  border-right:none;
}
footer.navbar .navbar-inner {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  min-height:35px;
  height:35px;
  line-height:35px;
  padding:0 15px;
}
#menuContainer{
  background-color: #f5f5f5;
  border-right:1px solid #ddd;
}

#menuContainer,
#playlistContainer {
  display:block;
}

#playlistContent,#menuContainer .sidebar-nav {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#playerContent{
  height:23.076923076923077%;
  overflow:hidden;
}

#menuContainer .sidebar-nav.isPlaying {
  height:76.923076934076923%;
}
