body {
  padding-top: 70px;
  padding-bottom: 0;
  background: #fefefe;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
  border:none;
  box-shadow:0 0;
  -webkit-box-shadow:0 0;
}
.sidebar-nav {
  padding: 9px 0;
  width:199px;
  border-right:1px solid #ddd;
}
.navbar.header .nav > li > a {
  line-height: 50px;
  padding: 10px;
}
.navbar.header .nav li.dropdown > .dropdown-toggle .caret{
  margin-top:25px;
}
.header-profile img{
  height:30px;
}
.navbar.header .brand{
  padding-left:80px;
  line-height:50px;
  background:url(/img/logo-50px.png) no-repeat 20px center;
  font-family: 'Quicksand', sans-serif;
}
.navbar.header .divider-vertical {
  height:70px;
}
#progress-play {
  width: 300px;
  margin: 5px 15px 0;
  height:6px;
  cursor:pointer;
  background: #444;
}
#progress-play .bar{
  filter:none;
}
#progress-play .bar.playing{
  background:#0c9db7;
}
#progress-play .bar.loaded{
  background:#555;
}
#progress-play.progress .bar {
  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
}
#video-played {
  margin: 17px 15px 0;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size:12px;
  color:#aaa;
}
#video-played .video-current-time {}
#video-played .video-total-time {font-size:10px;}
#video-played .video-title-progress {font-size:14px;color:#ddd;}
.container-fluid.no-padding-left {
  padding: 0;
}
#login-buttons-image-facebook{
  margin-top:-2px;
}
#login-buttons-facebook{
  background-color: #3b5998 !important;
  background-image: none !important;
}
footer{
  position:fixed;
  bottom:0;
  width:100%;
}
footer.navbar{
  margin-bottom:0;
  color:#ddd;
}
footer.navbar .navbar-inner {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  min-height:35px;
  height:35px;
  line-height:35px;
  padding:0 15px;
  border:none;
}
footer.navbar a{
  color:#777;
}
#menuContainer{
  background-color: #333;
  width:200px;
  float:left;
  overflow:hidden;
  background-image: url(/img/bg-left-menu.png);
  background-repeat: no-repeat;
  -webkit-transition: width 1s; /* Safari and Chrome */
     -moz-transition: width 1s; /* Firefox 4 */
       -o-transition: width 1s; /* Opera */
          transition: width 1s;
}
  #menuContainer .sidebar-nav {
    background-color: #f5f5f5;
    -webkit-transition: margin 1s; /* Safari and Chrome */
       -moz-transition: margin 1s; /* Firefox 4 */
         -o-transition: margin 1s; /* Opera */
            transition: margin 1s;
  }
#menuContainer,
#playlistContainer {
  display:block;
}
  #menuContainer.in-playlist{width:80px;}
    #menuContainer.in-playlist .sidebar-nav {margin-left:-200px;}
  #menuContainer.in-playlist:hover{width:200px;}
    #menuContainer.in-playlist:hover .sidebar-nav {margin-left:0;}

#playlistContent,#menuContainer .sidebar-nav {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}


#facebook-like{
  border: none;
  overflow: hidden;
  width: 250px;
  height: 22px;
  vertical-align: middle;
  margin-left: 15px;
}

.ue-tab-container{
  bottom:5px !important;
  right:5px !important;
}
  .ue-tab-container .ue-bottom {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 !important;
  }
  .ue-tab-container .ue-bottom:hover {
    padding-bottom: 0 !important;
    background: #075f6f !important;
  }



.navbar .nav.player-controls{
  float:none;
  width:540px;
  left:50%;
  top:0;
  margin-left:-270px;
  height: 70px;
  position: absolute;
  background:#333;
}

.navbar .divider-vertical{
  border-left: 1px solid #222;
  border-right: 1px solid #444;
}