.preview-video {
  width: 30%;
  display: inline-table;
  margin: 0 3% 3% 0;
}

.gs {font-family: 'Quicksand', sans-serif;padding:20px;}
  .gs .well {padding:50px 0 0;margin-bottom:50px;text-align:center;}
    .gs-splash{margin-top:30px}

.gs-block{width:700px;margin:0 auto;border-top:1px solid #eee;padding:50px 0}
.gs-block.first{border-top:none}
  .gs-block-title{}
  .gs-block-preview{width:170px;float:left;margin-right:30px;}
  .gs-block-preview.right{float:right;margin:0 0 0 30px;}
  .gs-block-content{}
  
  .gs-block b {font-weight:normal;color:#0c9db7;}

  .gs-block-icon{display:block;float:left;margin-right:10px;width:48px;height:48px;background:url(/img/getting-started-icons.png) 0 0;}
    .gs-block-icon-create{background-position:0 0;}
      .gs-block:hover .gs-block-icon-create{background-position:0 -48px;}
    .gs-block-icon-play{background-position:-48px 0;}
      .gs-block:hover .gs-block-icon-play{background-position:-48px -48px;}
    .gs-block-icon-share{background-position:-96px 0;}
      .gs-block:hover .gs-block-icon-share{background-position:-96px -48px;}
    .gs-block-icon-search{background-position:-144px 0;}
      .gs-block:hover .gs-block-icon-search{background-position:-144px -48px;}
