#playerContent{width:100%;height:50%;}
#player {width:100%;height:100%;background:#000;position:relative;}
#player.fullscreen {position:absolute;left:0;top:71px;}
  #player iframe,#player-over {width:100%;height:100%;position:absolute;}
