#playerContent{width:100%;height:0;overflow:hidden;}
#playerContent.isPlaying{height:50%;}
#player {width:100%;height:100%;background:#000;position:relative;}
.fullscreen #player {position:absolute;left:0;top:70px;}
  #player iframe,#player-over {width:100%;height:100%;position:absolute;}
.mobile #player-over {display:none;}
