#player {width:100%;height:100%;background:#000;min-height:200px;min-width:200px;}
#player.fullscreen {position:absolute;left:0;top:71px;}
  #player iframe {width:100%;height:100%;min-height:200px;min-width:200px;}