
#videosContent{height:100%;}
#videosContent.isPlaying {height:50%;}

.video {cursor: pointer;}
  .video td.videos-likes {width:30px;text-align:center;font-size:11px;line-height:12px;}
    .video td.videos-likes a {padding-top:12px;display:block;color:#777;}
  .video td.videos-preview {height:50px;width:50px;}
    .video td.videos-preview .img-container {height:50px;width:50px;overflow:hidden;border:1px solid #ccc;background:url(/img/play.png)}
      .video td.videos-preview img {height:50px;max-width:none;}
  .video td.videos-playing {width:30px;text-align:center;line-height:50px;}
  .video td.videos-added-by {vertical-align:middle;font-size:12px;text-align:center;color:#777;}
  .video td.videos-description {}
    .video td.videos-description .video-description-title {font-size:14px;margin-top:5px;}
    .video td.videos-description .video-description-origin {font-size:12px;color:#777;}

  .video td {background:#f3f3f3;}
    .video td.videos-preview .img-container {border-color:#ddd}
    .video td.videos-preview img {opacity:0}
  .video.not-playing td {background:#fff;}
    .video.not-playing td.videos-preview img {opacity:1}
  .video.not-playing:hover td {background:#f9f9f9;}
    .video.not-playing:hover td.videos-preview img {opacity:0.3}

#add-video-modal{}
  #add-video-modal form{margin:0}
  #add-video-modal .modal-body{padding:70px 0;text-align:center}

.shared-users {overflow: hidden;max-height:104px;font-size:0;margin:15px 0;}
  .shared-users img {height:50px;width:50px;margin:0 2px 2px 0;}
  
.video-title {margin-top: 20px;}
  .video-title img{width:200px;padding:1px;}
  .video-title h3{margin:0;padding:0;}
  .video-title a,.video-title span{font-size: 12px;padding-right:10px}
  .video-title h3 span.playlistName{font-size:inherit;font-weight:inherit;padding-right:0;}
  .video-title .dropdown span{padding-right:0}

h2.no-video {text-align:center;color:#ddd;padding:30px 0;}

#edit-playlist-name{display:none;margin: 0;}
  #edit-playlist-name .btn{padding: 2px 6px;}

.sort-by-container {margin:0}
  .sort-by-container span{padding-right:0}

.privacy {margin-left:-12px;}
  .privacy span{padding-right:0}

.share-providers{display:block;height:24px;margin:12px 0 0;}
  .share-providers li{list-style:none;display:block;float:left;width:24px;height:24px;margin-right:10px;}

  .share-icon{display:block;float:left;width:24px;height:24px;background:url(/img/share-icons.png) no-repeat;}
  .share-icon.facebook{background-position:0 0;}
  .share-icon.twitter{background-position:-24px 0;}
  .share-icon.google{background-position:-48px 0;}
  .share-icon.email{background-position:-72px 0;}


.edit-playlist-container{margin-bottom:-10px;display:inline-block;}



#video-left-container{float:left;width:225px;height:100%;overflow:scroll;padding:0 0 0 20px;border-right:1px solid #ddd;background-color: #f5f5f5;}
#video-right-container{height:100%;overflow:scroll;padding:0 20px;}

.playlist-title{position:relative}
#edit-playlist-name{position: absolute;left:0;top:0;}

.rename-playlist-container{display: inline-block;margin-bottom: -10px;}
.playlist-actions{margin:-5px 0 0 -13px;}
  .playlist-actions li{clear:both;}
    .playlist-actions li a{white-space: nowrap;}

#video-left-container .playlistPreview{width:200px;height:200px;}



#search-video-results {
  position:absolute;
  background:#fff;display:none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 102;
  opacity: 0.97;
  box-shadow: 0px 12px 8px 2px rgba(55, 70, 79, 0.15);
  -webkit-box-shadow: 0px 12px 8px 2px rgba(55, 70, 79, 0.15);
  -moz-box-shadow: 0px 12px 8px 2px rgba(55, 70, 79, 0.15);
  -o-box-shadow: 0px 12px 8px 2px rgba(55, 70, 79, 0.15);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  width: 64%;
  margin-left: 2%;
  margin-top: -11px;
  border-top: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
     -moz-border-radius-topleft: 0;
     -moz-border-radius-topright: 0;
     -moz-border-radius-bottomright: 9px;
     -moz-border-radius-bottomleft: 9px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 9px;
          border-bottom-left-radius: 9px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
  #search-video-results .video td.videos-preview .img-container {background:url(/img/add.png)}
  #search-video-results .video.video-added td.videos-preview .img-container {background:url(/img/added.png)}
  #search-video-results .video.not-playing.video-added td.videos-preview img{opacity:0.3}

#search-video-result-youtube, #search-video-result-vimeo, #search-video-result-dailymotion{overflow:scroll;height:300px;margin-bottom:10px;}
#search-form{margin-bottom:0px;margin-right:140px;}
#search-field{margin-bottom:10px;width:85%}
#search-form .input-append{width:100%;}
#search-form .btn{width:15%;}

#providers-tabs {margin:10px;}



.following-bar {margin:7px 0 0;float:right;}
  .following-bar td {border-right:1px solid #ccc;padding:0 20px;}
  .following-bar td.last-box {border:none;padding-right:0;}
    .following-bar td span{line-height:10px}
    .following-bar td .value{display:block;font-weight:bold}
    .following-bar td .unit{color:#aaa;text-transform:uppercase}
  .following-bar td .btn{width:65px}
