<template name="headerTemplate">
  <div class="navbar navbar-fixed-top header">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">26 plays</a>
        <div class="nav-collapse collapse">
          {{#if isPlaying}}
          <ul class="nav">
            <li><a href="#" class="backward"><i class="icon-white icon-fast-backward"></i></a></li>
            <li><a href="#" class="stop"><i class="icon-white icon-stop"></i></a></li>
            <li><a href="#" class="play-pause" id="player-play-pause-toogle"><i class="icon-white {{playPauseClass}}"></i></a></li>
            <li><a href="#" class="forward"><i class="icon-white icon-fast-forward"></i></a></li>
            <li>
              <div id="video-played"><span class="video-current-time"></span> / <span class="video-total-time"></span> - <span class="video-title-progress"></span></div>
              <div class="progress" id="progress-play">
                <div class="bar playing"></div>
                <div class="bar loaded"></div>
              </div>
            </li>
            <li><a href="#" class="fullscreen"><i class="icon-white icon-fullscreen"></i></a></li>
          </ul>
          {{/if}}
          <ul class="nav pull-right">
            <li class="dropdown">
              {{#with user}}
              <a href="#" class="dropdown-toggle header-profile" data-toggle="dropdown">{{> profilePicture}} {{profile.name}} <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li><a href="#" class="logout">logout</a></li>
              </ul>
              {{/with}}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</template>