<template name="homeTemplate">
  <h2>Welcome</h2>
  <p>Welcome to 26plays the first playlist tool where you can create playlists from Youtube and Vimeo to privately share them with your friends</p>
  <h3>Left menu</h3>
  <p>
    On the left menu, you can see two type of playlists:
    <ul>
      <li><b>My Playlists</b>: which contains all your playlists</li>
      <li><b>Shared Playlists</b>: which contains all the playlists shared with you by your facebook friends</li>
    </ul>
  </p>
  <h3>Getting Started</h3>
  <p>In the left menu under <b>"My Playlists"</b> you can find a <b>"Create a new Playlist"</b> link, click on it to start your 26plays experience</p>
  <p>
    Here are some examples of playlist utilization:
    <ul>
      <li>Music playlist</li>
      <li>Fun video to share</li>
      <li>Guitar Class</li>
      <li>Products to buy</li>
      <li>...</li>
    </ul>
  </p>
</template>