<template name="loggedTemplate">

  {{> headerTemplate}}

  <div class="container-fluid no-padding-left">
    <div class="row-fluid">

      <!-- List of Playlists -->
      {{> leftMenuTemplate}}

      <div class="span9" id="playlistContainer">
        <div id="playlistContent">
        {{#if isPage 'home'}}
          {{> homeTemplate}}
        {{/if}}
  
        {{#if isPage 'search'}}
          {{> searchTemplate}}
        {{/if}}
  
        {{#if isPage 'playlist'}}
          {{> videosTemplate}}
        {{/if}}
        </div>
      </div><!--/span-->

    </div><!--/row-->
  </div><!--/.fluid-container-->

  <footer class="navbar">
    <div class="navbar-inner">
      &copy; 26plays 2013
    </div>
  </footer>

</template>