<template name="loggedTemplate">

  {{> headerTemplate}}

  <div class="container-fluid no-padding-left">
    <div class="row-fluid">

      <!-- List of Playlists -->
      {{> leftMenuTemplate}}

      {{> mainContentTemplate}}

    </div><!--/row-->
  </div><!--/.fluid-container-->

  <footer class="navbar">
    <div class="navbar-inner">
      &copy; <a href="https://twitter.com/26plays" target="_blank">26plays</a> 2013
      <iframe id="facebook-like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.26plays.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=dark&amp;action=like&amp;height=21&amp;appId=157608577727216" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </footer>

</template>