<template name="loginTemplate">

  {{#if currentUser}}

    {{> loggedTemplate}}

  {{else}}
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">26 plays</a>
        </div>
      </div>
    </div>

    <div id="login-background">
    
      <iframe id="vimeoplayer-home" class="video-home" src="http://player.vimeo.com/video/22439234?api=1&amp;player_id=vimeoplayer-home&amp;title=0&amp;autoplay=true&amp;loop=true&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <div class="over-video"></div>

      <div id="login-text">
        <h1>Welcome to 26plays</h1>
        <h3>Share videos and playlists with your friends</h3>
      </div>
      
      <div id="login-box">
        <h4>Login with Facebook</h4>
        <h5>And start to enjoy your music</h5>
        {{loginButtons}}
      </div>

    </div>

  {{/if}}

</template>