<template name="loginTemplate">

  {{#if currentUser}}

    {{> loggedTemplate}}

  {{else}}
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">26 plays</a>
        </div>
      </div>
    </div>

    <div id="login-background">
    
      <iframe id="vimeoplayer-home" class="video-home" src="http://player.vimeo.com/video/22439234?api=1&amp;player_id=vimeoplayer-home&amp;title=0&amp;autoplay=true&amp;loop=true&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <div class="over-video"></div>

      <div id="login-text">
        <h1>Welcome to 26plays</h1>
        <h3>Keep, play and share videos</h3>
      </div>
      
      <div id="login-box">
        {{loginButtons}}
      </div>

    </div>

    <div class="container login">
      <div class="row">
        <a class="span4 home-point">
          <h2>Keep</h2>
          <i class="home-icon keep"></i>
          Keep all your videos and organize them in playlists
          <img src="/img/home-keep.jpg" class="img-polaroid" />
        </a>
        <a class="span4 home-point">
          <h2>Play</h2>
          <i class="home-icon play"></i>
          Enjoy your best videos anywhere and at anytime
          <img src="/img/home-play.jpg" class="img-polaroid" />
        </a>
        <a class="span4 home-point">
          <h2>Share</h2>
          <i class="home-icon share"></i>
          Share your playlists with your friend
          <img src="/img/home-share.jpg" class="img-polaroid" />
        </a>
      </div>
    </div>

    <hr class="login" />

    <div class="container login">
      <div class="row">
        <div class="span12">
          <h2>The player</h2>
          <img src="/img/home-player.jpg" class="img-polaroid" />
        </div>
      </div>
    </div>
    
    <hr class="login" />

    <div class="container login">
      <div class="row">
        <div class="span12 login-footer">
          &copy 26plays 2013
        </div>
      </div>
    </div>

  {{/if}}

</template>