<template name="loginTemplate">

  {{#if currentUser}}

    {{> loggedTemplate}}

  {{else}}
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">26 plays</a>
        </div>
      </div>
    </div>

    <div id="login-background">

      <div id="login-text">
        <h1>Welcome to 26plays</h1>
        <h3>Share videos and playlists with your friends</h3>
      </div>
      
      <div id="login-box">
        <h4>Login with Facebook</h4>
        <h5>And start to enjoy your music</h5>
        {{loginButtons}}
      </div>

    </div>

  {{/if}}

</template>