<template name="myFeedTemplate">
  <div id="feedContent">
    {{#if videos}}
    <div class="feed-content">
      <h5><span>Recently added videos</span></h5>
      {{#each videos}}
      <div class="feed video video-playlist not-playing" playlist="{{playlist}}" video="{{_id}}">
        <div class="img-container"><img src="{{data.thumbnail_url}}" /></div>
        <div class="feed-description-title">{{data.title}}</div>
        <div class="feed-description-origin">
          in <a href="#" class="open-playlist" data-playlist-id="{{playlist}}">{{thePlaylist.name}}</a>
          by <a href="#" class="open-user" data-user-id="{{ownerData._id}}">{{ownerData.profile.name}}</a>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  
    {{#if friends.length}}
    <div class="feed-content">
      <h5><span>26players</span></h5>
      {{#each friends}}
      <div class="feed open-user" data-user-id="{{_id}}">
        <div class="img-container">{{> profilePicture}}</div>
        <div class="feed-description-title">{{profile.name}}</div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</template>
