<template name="playlistsTemplate">
  <ul class="nav nav-list">
    <li class="nav-header">Pages</li>
    <li class="{{active 'home'}}"><a href="#" class="page" page="home"><i class="icon-home"></i> Home</a></li>
    <!--li class="{{active 'search'}}"><a href="#" class="page" page="search"><i class="icon-search"></i> Search</a></li-->
    <li class="nav-header">My Playlists</li>
    <li><a href="#" id="add-playlist"><i class="icon-plus-sign"></i> Create a new Playlist</a></li>
  {{#each playlists}}
    {{#if isMine}}
    <li class="{{active 'playlist'}}">
      <a class="playlist" href="#" playlist="{{_id}}">
        <i class="icon-list"></i>
        {{name}}
      </a>
    </li>
    {{/if}}
  {{/each}}
    <li class="nav-header">Shared Playlists</li>
  {{#each playlists}}
    {{#if isMine}}
    {{else}}
    <li class="{{active}}">
      <a class="playlist" href="#" playlist="{{_id}}">
        <i class="icon-list"></i>
        {{name}}
      </a>
    </li>
    {{/if}}
  {{/each}}
  </ul>
  {{> create-playlist-popup}}
</template>


<template name="create-playlist-popup">
  <div class="modal hide fade" id="add-playlist-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Create a Playlist</h3>
    </div>
    <form class="form-horizontal">
      <div class="modal-body">
        <label class="control-label" for="add-playlist-name">Name</label>
        <div class="controls">
          <input type="text" id="add-playlist-name" placeholder="Name">
        </div>
      </div>
      <div class="modal-footer">
        <div class="controls">
          <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</template>
