<template name="videosTemplate">
  {{#if isPlaylistPage}}
  <div id="video-left-container">
    {{> videosSharingTemplate}}
  </div>

  <div id="video-right-container">
    <div class="video-title playlist-title">
      {{> videosHeaderTemplate}}
      {{> videosSearchTemplate}}
    </div>
    {{> videosListTemplate}}
  </div>

  {{> remove-video-popup}}
  {{> remove-playlist-popup}}
  {{/if}}
</template>


<template name="remove-video-popup">
  <div class="modal hide fade" id="remove-video-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Remove a Video</h3>
    </div>
    <div class="modal-body">
      <p>Please confirm the deletion of this video</p>
    </div>
    <div class="modal-footer">
      <div class="controls">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" class="btn btn-danger" id="remove-video-submit">Remove</a>
      </div>
    </div>
  </div>
</template>


<template name="remove-playlist-popup">
  <div class="modal hide fade" id="remove-playlist-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Remove a Playlist</h3>
    </div>
    <div class="modal-body">
      <p>Please confirm the deletion of this playlist</p>
    </div>
    <div class="modal-footer">
      <div class="controls">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        <a href="#" class="btn btn-danger" id="remove-playlist-submit">Remove</a>
      </div>
    </div>
  </div>
</template>
