<template name="videosListTemplate">
  <div class="video-title">
    <h3>Videos</h3>
  {{#if rightTo "canAddVideo" playlist myUser}}
    <span>Add video from:</span>
    <a href="#" id="add-video-from-search"><i class="icon-plus-sign"></i> YouTube</a>
    <a href="#" id="add-video-from-url"><i class="icon-plus-sign"></i> URL</a><br /><br />
  {{/if}}
  </div>
  {{#if videos.count}}
    <table class="table table-condensed videos-list">
      <tbody>
      {{#each videos}}
        <tr class="video video-playlist{{#if isPlaying}} {{else}} not-playing {{/if}}" playlist="{{playlist._id}}" video="{{_id}}">
          <td class="videos-likes">
            <a href="#" class="like-video" video="{{_id}}">
              <i class="{{liked}}"></i><br />{{nbLikes}}
            </a>
          </td>
          <td class="videos-preview"><div class="img-container"><img src="{{data.thumbnail_url}}" /></div></td>
          <td class="videos-description">
            <div class="video-description-title">{{data.title}}</div>
            <div class="video-description-origin">
              from <a href="{{data.provider_url}}" target="_blank">{{data.provider_name}}</a>
              by <a href="{{data.author_url}}" target="_blank">{{data.author_name}}</a>
            </div>
          </td>
          <td class="videos-playing">
            <a href="#" class="remove-video" video="{{_id}}">
            {{#if rightTo "canRemoveVideo" playlist myUser owner}}
            <i class="icon-remove"></i>
            {{/if}}
            </a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <h2 class="no-video">No video in this playlist</h2>
  {{/if}}
</template>