<template name="videosListTemplate">
  {{#if isNotEmpty activePlaylist}}
    {{#if isLoaded activePlaylist videos}}
    <table class="table table-condensed videos-list">
      <tbody>
      {{#each videos}}
        <tr class="video video-playlist{{#if isPlaying}} {{else}} not-playing {{/if}}" playlist="{{playlist}}" video="{{_id}}">
          <td class="videos-likes">
            <a href="#" class="like-video" video="{{_id}}">
              <i class="{{liked}}"></i><br />{{nbLikes}}
            </a>
          </td>
          <td class="videos-preview"><div class="img-container"><img src="{{data.thumbnail_url}}" /></div></td>
          <td class="videos-description">
            <div class="video-description-title">{{data.title}}</div>
            <div class="video-description-origin">
              from <a href="{{data.provider_url}}" target="_blank">{{data.provider_name}}</a>
              by <a href="{{data.author_url}}" target="_blank">{{data.author_name}}</a>
            </div>
          </td>
          <td class="videos-added-by">
            {{#with ownerObj owner}}
            <a href="#" class="open-user" data-user-id="{{_id}}">{{profile.name}}</a>
            {{/with}}
          </td>
          <td class="videos-added-by">
            {{#with createdAt}}
              {{> formatTimeAgo}} ago
            {{/with}}
          </td>
          <td class="videos-playing">
            {{#if rightTo "canRemoveVideo" activePlaylist myUser .}}
            <a href="#" class="remove-video" video="{{_id}}">
              <i class="icon-remove"></i>
            </a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{else}}
      <h2 class="no-video">Loading . . .</h2>
    {{/if}}
  {{else}}
    <h2 class="no-video">No video in this playlist</h2>
  {{/if}}
</template>