<template name="videosListTemplate">
  <div class="video-title playlist-title">
    <ul class="nav nav-pills sort-by-container pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Sort by: 
          {{#if sortedBy "time-down"}}
            Date desc
          {{/if}}
          {{#if sortedBy "time-up"}}
            Date asc
          {{/if}}
          {{#if sortedBy "like-down"}}
            Nb likes
          {{/if}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a class="sort-by" data-sort-by="time-down">Date desc</a></li>
          <li><a class="sort-by" data-sort-by="time-up">Date asc</a></li>
          <li><a class="sort-by" data-sort-by="like-down">Nb likes</a></li>
        </ul>
      </li>
    </ul>
    <h3 id="playlist-name">
      <span class="playlistName">{{playlist.name}}</span>
    {{#if rightTo "isOwner" playlist myUser}}
      <ul class="nav nav-pills rename-playlist-container">
        <li>
          <a href="#" class="playlist-edit" playlist="{{_id}}"><i class="icon-pencil"></i></a>
        </li>
      {{#if rightTo "canAddVideo" playlist myUser}}
        <li>
          <a href="#" id="add-video-from-url"><i class="icon-plus-sign"></i></a>
        </li>
      {{/if}}
      </ul>
    {{/if}}
    </h3>
    {{#if rightTo "isOwner" playlist myUser}}
    <form class="form-search" id="edit-playlist-name">
      <input type="text" value="{{playlist.name}}" />
      <a href="#" class="valid-playlist-name btn btn-mini btn-primary">
        <i class="icon-ok icon-white"></i>
      </a>
      <a href="#" class="cancel-playlist-name btn btn-mini">
        <i class="icon-remove"></i>
      </a>
    </form>
    {{/if}}
  {{#if rightTo "canAddVideo" playlist myUser}}
    <form id="search-form">
      <input type="text" id="search-field" placeholder="Search" class="input-block-level search-query" />
    </form>
    <div id="search-video-results">
      <ul class="nav nav-pills" id="providers-tabs">
        <li class="active"><a href="#search-video-result-youtube" class="provider-tab">Youtube</a></li>
        <li><a href="#search-video-result-vimeo" class="provider-tab">Vimeo</a></li>
        <li><a href="#search-video-result-dailymotion" class="provider-tab">Dailymotion</a></li>
        <li class="pull-right"><a id="close-inline-search" href="#">x</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="search-video-result-youtube"></div>
        <div class="tab-pane" id="search-video-result-vimeo"></div>
        <div class="tab-pane" id="search-video-result-dailymotion"></div>
      </div>
    </div>
  {{else}}
    <span>You cannot add video into this playlist</span>
    <br /><br />
  {{/if}}
  </div>
  {{#if videos.count}}
    <table class="table table-condensed videos-list">
      <tbody>
      {{#each videos}}
        <tr class="video video-playlist{{#if isPlaying}} {{else}} not-playing {{/if}}" playlist="{{playlist._id}}" video="{{_id}}">
          <td class="videos-likes">
            <a href="#" class="like-video" video="{{_id}}">
              <i class="{{liked}}"></i><br />{{nbLikes}}
            </a>
          </td>
          <td class="videos-preview"><div class="img-container"><img src="{{data.thumbnail_url}}" /></div></td>
          <td class="videos-description">
            <div class="video-description-title">{{data.title}}</div>
            <div class="video-description-origin">
              from <a href="{{data.provider_url}}" target="_blank">{{data.provider_name}}</a>
              by <a href="{{data.author_url}}" target="_blank">{{data.author_name}}</a>
            </div>
          </td>
          <td class="videos-added-by">
            <a href="#" class="open-user" data-user-id="{{ownerData._id}}">{{ownerData.profile.name}}</a>
          </td>
          <td class="videos-added-by">
            {{formatTime createdAt}} ago
          </td>
          <td class="videos-playing">
            {{#if rightTo "canRemoveVideo" playlist myUser .}}
            <a href="#" class="remove-video" video="{{_id}}">
              <i class="icon-remove"></i>
            </a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <h2 class="no-video">No video in this playlist</h2>
  {{/if}}
</template>