<template name="videosSearchTemplate">
  {{#if canAddVideo}}
    <form id="search-form" class="form-search">
      <div class="input-append">
        <input type="text" class="input-block-level search-query" id="search-field" placeholder="Search on Youtube, Vimeo & Dailymotion" />
        <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
      </div>
    </form>
    <div id="search-video-results">
      <ul class="nav nav-pills" id="providers-tabs">
        <li class="active"><a href="#search-video-result-youtube" class="provider-tab">Youtube</a></li>
        <li><a href="#search-video-result-vimeo" class="provider-tab">Vimeo</a></li>
        <li><a href="#search-video-result-dailymotion" class="provider-tab">Dailymotion</a></li>
        <li class="pull-right"><a id="close-inline-search" href="#"><i class="icon-remove"></i></a></li>
      </ul>
  
      <div class="tab-content">
        <div class="tab-pane active" id="search-video-result-youtube"></div>
        <div class="tab-pane" id="search-video-result-vimeo"></div>
        <div class="tab-pane" id="search-video-result-dailymotion"></div>
      </div>
    </div>
  {{else}}
    <span>You cannot add video into this playlist</span>
    <br /><br />
  {{/if}}
</template>
