<template name="videosSharingTemplate">
  {{#with playlist}}
  <div class="video-title playlist-title">
    {{#with ownerData}}
      {{> profilePicture}}
    {{/with}}
    <h3 id="playlist-name">
      <span class="playlistName">{{name}}</span>
    {{#if rightTo "isOwner" playlist myUser}}
      <ul class="nav nav-pills edit-playlist-container">
        <li>
          <a href="#" class="playlist-edit" playlist="{{_id}}"><i class="icon-pencil"></i></a>
        </li>
        <li>
          <a href="#" class="playlist-remove" playlist="{{_id}}"><i class="icon-trash"></i></a>
        </li>
      </ul>
    {{else}}
      <span>(by {{ownerData.profile.name}})</span>
    {{/if}}
    </h3>
    <form class="form-search" id="edit-playlist-name">
      <input type="text" value="{{name}}" />
      <a href="#" class="valid-playlist-name btn btn-mini btn-primary">
        <i class="icon-ok icon-white"></i>
      </a>
      <a href="#" class="cancel-playlist-name btn btn-mini">
        <i class="icon-remove"></i>
      </a>
    </form>
    <ul class="nav nav-pills">
  {{#if rightTo "isOwner" playlist myUser}}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-plus-sign"></i>
          {{#if privateTo "private"}}
            Only you
          {{/if}}
          {{#if privateTo "public"}}
            Everyone
          {{/if}}
            can add videos
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="set-privacy" data-privacy="private">
          {{#if privateTo "private"}}
            <i class="icon-ok"></i>
          {{else}}
            <i class="icon-"></i>
          {{/if}}
            Only you
          </a></li>
          <li><a class="set-privacy" data-privacy="public">
          {{#if privateTo "public"}}
            <i class="icon-ok"></i>
          {{else}}
            <i class="icon-"></i>
          {{/if}}
            Everyone
          </a></li>
        </ul>
      </li>
  {{else}}
      <li>
    {{#if rightTo "canAccess" playlist myUser}}
        <a href="#" class="playlist-remove" playlist="{{_id}}"><i class="icon-remove"></i> Remove from my shared playlist</a>
    {{else}}
        <a href="#" class="playlist-follow" playlist="{{_id}}"><i class="icon-ok"></i> Add to my shared playlist</a>
    {{/if}}
      </li>
  {{/if}}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-share"></i> Share
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="sharing-button" data-type-sharing="facebook" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="600" data-height="300">
            <i class="share-icon facebook"></i>
            <span class="text">with your Facebook friends</span>
          </a></li>
          <li><a class="sharing-button" data-type-sharing="twitter" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="600" data-height="300">
            <i class="share-icon twitter"></i>
            <span class="text">on Twitter</span>
          </a></li>
          <li><a class="sharing-button" data-type-sharing="google" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="600" data-height="300">
            <i class="share-icon google"></i>
            <span class="text">on Google +</span>
          </a></li>
          <li><a class="sharing-button" data-type-sharing="email" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="800" data-height="600">
            <i class="share-icon email"></i>
            <span class="text">by email</span>
          </a></li>
        </ul>
      </li>
    </ul>
  </div>

  {{/with}}
  {{#if playlist.canAccess.length}}
  <div class="video-title share-title">
    <h3>Followed by</h3>
  </div>
  <div class="shared-users">
  {{#each playlist.canAccess}}
    {{> profilePictureSharing}}
  {{/each}}
  </div>
  {{/if}}
</template>