<template name="videosSharingTemplate">
  <div class="video-title">
    {{#with playlist}}
      {{> playlistPreview}}
    {{/with}}
    {{#with ownerObj playlist.owner}}
      <span class="playlist-by">
        <a href="#" class="open-user" data-user-id="{{_id}}">
          <i class="icon-user"></i>
          {{profile.name}}
        </a>
      </span>
    {{/with}}
  </div>
  <div>
  {{#with playlist}}
    <ul class="share-providers">
      <li><a class="sharing-button" data-type-sharing="facebook" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="600" data-height="300">
        <i class="share-icon facebook"></i>
      </a></li>
      <li><a class="sharing-button" data-type-sharing="twitter" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="600" data-height="300">
        <i class="share-icon twitter"></i>
      </a></li>
      <li><a class="sharing-button" data-type-sharing="google" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="600" data-height="300">
        <i class="share-icon google"></i>
      </a></li>
      <li><a class="sharing-button" data-type-sharing="email" href="#" data-url="{{playlistUrl}}" data-title="{{name}}" data-width="800" data-height="600">
        <i class="share-icon email"></i>
      </a></li>
    </ul>
    {{#if rightTo "isOwner" playlist myUser}}
    <h5>Actions</h5>
    <ul class="nav nav-pills playlist-actions">
      <li>
        <a href="#" class="playlist-remove" playlist="{{_id}}"><i class="icon-trash"></i> Remove playlist</a>
      </li>
      <li class="dropdown dropup">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{#if public}}
            <i class="icon-eye-open"></i>
            Public
          {{else}}
            <i class="icon-eye-close"></i>
            Private
          {{/if}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="set-public" href="#" data-public="public">
          {{#if public}}
            <i class="icon-ok"></i>
          {{else}}
            <i class="icon-"></i>
          {{/if}}
            Public
          </a></li>
          <li><a class="set-public" href="#" data-public="private">
          {{#if public}}
            <i class="icon-"></i>
          {{else}}
            <i class="icon-ok"></i>
          {{/if}}
            Private
          </a></li>
        </ul>
      </li>
      <li class="dropdown dropup">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-plus-sign"></i>
          {{#if privateTo "private"}}
            Only you
          {{/if}}
          {{#if privateTo "public"}}
            Everyone
          {{/if}}
            can add videos
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="set-privacy" href="#" data-privacy="private">
          {{#if privateTo "private"}}
            <i class="icon-ok"></i>
          {{else}}
            <i class="icon-"></i>
          {{/if}}
            Only you
          </a></li>
          <li><a class="set-privacy" href="#" data-privacy="public">
          {{#if privateTo "public"}}
            <i class="icon-ok"></i>
          {{else}}
            <i class="icon-"></i>
          {{/if}}
            Everyone
          </a></li>
        </ul>
      </li>
    </ul>
    {{/if}}
  {{/with}}
  </div>

  {{#if playlist.followers.length}}
  <h5>Followed by</h5>
  <div class="shared-users">
  {{#each playlist.followers}}
    {{#with ownerObj .}}
    <a href="#" class="open-user" data-user-id="{{_id}}">{{> profilePictureSharing}}</a>
    {{/with}}
  {{/each}}
  </div>
  {{/if}}
</template>